<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

<b>Objectives:</b>
- R
- SQL
- Java

<h2>Author</h2>
Segu Yuva Nitya

Some of the popular languages that Data Scientists use are:
<ol>1.Python</ol>
<ol>2.R</ol>
<ol>3.Julia</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>1.pandas</ol>
<ol>2.numpy</ol>
<ol>3.tensorflow</ol>

<table>
<th>Data Science Tools</th>
<tr>
<td>RStudio</td>
</tr>
<tr>
<td>
Apache Spark</td></tr>
<tr><td>TensorFlow</td></tr>
</table>

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [1]:
#This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335